<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd"
>

    <import resource="loggers.xml"/>
    <import resource="db.xml"/>

    <aop:aspectj-autoproxy />
    <bean id="logaspect" class="com.epam.reshetnev.spring.core.aspect.StatisticsAspect">
        <constructor-arg value="5"/>
        <constructor-arg ref="consoleEventLogger"/>
    </bean>

    <bean id="client" class="com.epam.reshetnev.spring.core.beans.Client">
        <constructor-arg><value>${id}</value></constructor-arg>
        <constructor-arg value="${name}"/>
        <property name="greeting" value="#{systemEnvironment['USERNAME']}"></property>
    </bean>

    <util:map id="loggerMap">
        <entry key="INFO" value-ref="consoleEventLogger"/>
        <entry key="ERROR" value-ref="combinedEventLogger"/>
    </util:map>

    <bean id="app" class="com.epam.reshetnev.spring.core.App">
        <constructor-arg ref="client"/>
        <property name="defaultLogger" value="#{event.isDay() ? fileEventLogger : consoleEventLogger}"/>
        <property name="dbLogger" ref="dbLogger"/>
        <constructor-arg ref="loggerMap"/>
    </bean>

    <!-- creates a java.util.Properties instance with values loaded from the supplied location -->
    <util:properties id="clientProps" location="classpath:client.properties"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
                <value>classpath:db.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
        <!-- Set SYSTEM_PROPERTIES_MODE_OVERRIDE -->
        <property name="systemPropertiesMode" value="2"/>
    </bean>

</beans>